Repository openwdl/wdl, pull requests merged in 2024-05, with the labels that each got.

#644 Fix some directory-related things
  SPEC.md
  tests/data/testdir/hello.txt
Labels: Cleanup

#635 Move contents of PR 524 on top of wdl-1.2
  CHANGELOG.md
  SPEC.md
Labels: enhancement, Spec Change

#634 Move contents of PR 464 on top of wdl-1.2
  CHANGELOG.md
  SPEC.md
Labels: Spec Change, clarification

#623 Add `chunk` function for splitting an array into equal-sized chunks
  CHANGELOG.md
  SPEC.md
Labels: enhancement, Spec Change

#633 Add array `contains` function
  CHANGELOG.md
  SPEC.md
Labels: enhancement, Spec Change

#504 Support Defining Environment Variables Within a Task
  SPEC.md
Labels: enhancement, RFC
